#color{
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    transition: background-color 5s;
    transition-timing-function: ease-out;
}
#color:hover{
    background-color: #000;
}
#height{
    border: 5px solid aqua;
    height: 50px;
    width: 400px;
    transition: height 4s;
    transition-delay: 3s;
    transition-timing-function: ease-in;
}
#height:hover{
    height: 500px;
}
#circle{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: 5px solid beige;
    transition: border-radius 5s;
    transition-timing-function: ease-out;
}
#circle:hover{
    border-radius: 50%;
    width: 150px;
}

